<template name="maps">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="/"}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
    <h1 class="title">Xsarus Walkers - maps</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            {{> maps_route}}
            {{> maps_pinpoint}}
        {{/ionContent}}
    {{/ionView}}
</template>

<template name="maps_route">
    <div class="map-container">
        {{> googleMap name="exampleMap" options=exampleMapOptions}}
    </div>

    <ul class="routes">
        <li>
            <a href="#" data-route="default">Standaard route</a>
        </li>
        <li>
            <a href="#" data-route="long">Lange route</a>
        </li>
    </ul>
</template>

<template name="maps_pinpoint">
    <div class="map-container">
        {{> googleMap name="exampleMap2" options=exampleMap2Options}}
    </div>
</template>